.uploadCanvas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.infoButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #113065;
  color: white;
  border-radius: 5px;
}

.captureButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #116535;
  color: white;
  border-radius: 5px;
}

.discardButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #d7370b;
  color: white;
  border-radius: 5px;
}

.uploadButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #129149;
  color: white;
  border-radius: 5px;
}

.imageCanvas {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.imageCanvas figcaption {
  text-align: center;
  color: white;
  font-size: medium;
  font-weight: bold;
  font-style: oblique;
}

.mediaGroup {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
